body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ad98;
  flex-direction: column;
  z-index: 0;
  margin-top: 40px;
}

#title {
  z-index: 1;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding-top: 5vh;
  font-size: 40px;
}

#text {
  color: white;
  font-family: "Poppins", sans-serif;
  width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  z-index: 100;
}

/* TODO: Add styles for elements: */
.help-icon {
}

.help-container {
}
